.post {
    margin-bottom: 16px;
  }
  
  .postWrapper {
    border: 1px solid #ccc;
    padding: 16px;
  }
  
  .postTop {
    display: flex;
    flex-direction: column;
  }
  
  .postTopLeft {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .postTitle {
    margin-left: 8px;
  }
  
  .postCenter {
    margin-bottom: 16px;
  }
  
  .postImg {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .postBottom {
    display: flex;
    justify-content: space-between;
  }
  
  .postLikeButton,
  .postCommentButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    padding: 0;
  }
  
  .postComments {
    margin-top: 16px;
    border-top: 1px solid #ccc;
    padding-top: 8px;
  }
  
  .postComments div {
    margin-bottom: 8px;
  }
  