/* signup.css */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    font-size: 0.9em;
    color: #8e8e8e;
    margin-bottom: 10px;
  }
  
  input[type="email"],
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 9px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #fafafa;
    margin-top: 5px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 9px;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    background-color: #0095f6;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
  }
  
  input[type="submit"]:hover {
    background-color: #0077b6;
  }
  
  input[type="submit"]:disabled {
    background-color: #b2dffc;
  }
  
  input[type="submit"]:disabled:hover {
    cursor: default;
  }
  