.user-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    margin-bottom: 5px;
  }
  
  .form-input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  
  .form-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .form-button {
    margin-left: 5px;
  }
  