/* App.css */

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background-image: url(https://i.pinimg.com/564x/ea/6a/41/ea6a4187f002084aeea7207c08ae628d.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.AppGlass {
  display: grid;
  height: 100%;
  width: 100%;
  gap: 4px;
  grid-template-columns: 20% 1fr; 
  overflow-y: auto;
}

.content {
  padding: 1px;
}
